<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/productDetail.css">
</head>
<body>
  <div class="product-page">
    <div class="product-detail">
      <img src="<%= product.image %>" alt="<%= product.name %>">
      <div class="product-info">
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <div class="price"><%= product.price %></div>
        <button  >Add to Cart</button>
      </div>
    </div>
  </div>
</body>
</html>
